body {
    margin: 0;
    padding: 0;
    background: black;
}
.container{
    position: absolute;
    display: block;
    left: 200px;
    top: 200px;
    width: 200px;
    height: 200px;
    /*расстояние между осью z и пользователем (для перспективы)*/
    perspective: 500px;
}
.cube{
    /*inherit - наследует значение родителя*/
    width: inherit;
    height: inherit;
    /*определяет как дочерние элементы должны отображаться в пространстве*/
    transform-style:preserve-3d;
    animation: cube 10s linear infinite;
}
@keyframes cube {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }

}
.side {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    color: azure;
    /*border: white 5px solid;*/
    /*видимость обратной стороны*/
    backface-visibility: hidden;
    box-shadow: 0 0 20px cyan;
    background: linear-gradient(#151515, cyan) ;
}
.top  {
    transform: rotateX(90deg) translateZ(100px);
    background: black;
}
.right {
    transform: rotateY(90deg) translateZ(100px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background: cyan;
}
.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.front {
    transform: translateZ(100px);
}
.back {
    transform: rotateY(180deg) translateZ(100px);
}
