body {
    margin: 0;
    padding: 0;
    background: black;
}
.container{
    position: absolute;
    display: block;
    left: 200px;
    top: 200px;
    width: 200px;
    height: 200px;
    /*расстояние между осью z и пользователем (для перспективы)*/
    perspective: 500px;
}
.cube{
    /*inherit - наследует значение родителя*/
    width: inherit;
    height: inherit;
    /*определяет как дочерние элементы должны отображаться в пространстве*/
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    color: azure;
    border: azure 5px solid;
}



h1 {
    color: azure;
}